In [ ]:
Control Statements : Statemetns which control the flow of program.

    They work on conditions.

    1. Conditional Statements:
    
        if
        elif
        else
    
   2.  Looping Statements:
    
        for
        while
    
    3 .Control Flow Statements:
    
        break
        continue
        pass
    
    4. Exception Handling:
    
        try 
        except
        else
        finally
    
    5. Other Control Flow Statements:
    
        assert
        with

if : 
            if condition : 
                body
    execution flow : condition -> body 

for : 
            for condition, (operation)
                body 
     execution flow : condition -> body -> operation -> repeat untill condition is False

In [2]:
a = 10
if a == 10 : print(a)

10

In [3]:
if 10+20 : print("yes")

yes

In [6]:
if 0-1 : print("yes")

yes

In [12]:
if 1-1 : print("yes")
else : print("false")

false

In [13]:
a=0
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

zero

In [ ]:
num=3

if num > 0:
    if num < 10:
        print("greater than 0 but less than 10")
    else:
        print("greater than 0 and equal to or more than 10")
elif num < 0:
    print("it is negative")
else:
    print("it is zero")

In [14]:
a = 10

if a==11 or 12 : 
    print("Yes")

Yes

In [15]:
a = 10

if a == 11 or a == 12 : 
    print("Yes")
else : print("No")

No

In [ ]:



############## match ###############

In [ ]:
used for pattern matching, we match choice with cases

once a case is matched, others will be ignored.

    we don't need to write break statement

if we compare one pattern with itself we will get error, other cases not reachable

    case _ is a wildcard , works if no pattern is matched

code below wildcard will not be reachable. 
    if written code below it, get error

In [16]:
a=7
match a:
        case 5:
                print("it is 5")
        case 7:
                print("it is 7")
        case 7 : 
            print("yes it is 7")
        case _:
                print("not a desired number")

it is 7

In [17]:
var=4.5
match var:
    case 3.4: 
            print("it is 3.4")
    case 4.5:
            print("it is 4.5")
    case _: 
            print("not a valid number")

it is 4.5

In [27]:
var1=True
match var1:
    case True:
            print("it's true")
    case False:
            print("it's false")
    case _:
            print("invalid condition")

it's true

In [19]:
ch='A'

match ch:
        case 'A':
                print("Vowel A")
        case 'E':
                print("Vowel E")
        case _:
                print("not a vowel")

Vowel A

In [20]:
greet = "welcome"
match greet:
    case "welcome":
        print("it's welcome")
    case "hello":
        print("it's hello")
    case _:
        print("not a valid greet")

it's welcome

In [ ]:
The code below does not work

In [21]:
class D: pass
class T: pass

d = D()
t = T()

ch = t
match ch:
    case t : 
        print("t is chosen")
    case d : 
        print("d is chosen")
    case _ : 
        print("None")

SyntaxError: name capture 't' makes remaining patterns unreachable (2970558722.py, line 9)

In [ ]:
because the ch = T()
and match compares T() with reference t
which becomes False

In [22]:
class D: pass
class T: pass

d = D()
t = T()

ch = t
match ch:
    case T() : 
        print("t is chosen")
    case D() : 
        print("d is chosen")
    case _ : 
        print("None")

t is chosen

In [23]:
greet = "welcome"
match greet:
    case "welcome":
        print("it's welcome")
    case "hello":
        print("it's hello")
    case _:
        print("not a valid greet")
        
    case "welcome" : print("Done")

SyntaxError: wildcard makes remaining patterns unreachable (3311349074.py, line 7)

In [ ]:
the code Below will not work

In [24]:
a = 10
match a:
    case 5+5 : print("y")

SyntaxError: imaginary number required in complex literal (3393955197.py, line 3)

In [ ]:
It will consider 5+5 as complex number and gives error because i is not written there, even if we put brackets there, No.

In [25]:
a = None
match a:
    case a : print("YES")

match a:
    case None : print("YES")

YES
YES

In [ ]:



############## Loops ###############

In [ ]:
for condition, (operation) :
    body
for loop runs from start(inclusive) to end(exclusive) till end - step

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
for i in range(1,5,2):
    print(i)

In [28]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [29]:
for i in range(5,1,-2):
    print(i)

5
3

In [ ]:
Months = ["Jan","Feb","Mar","April","May","June"]
	for m in Months:
		print(m)

In [30]:
import itertools
for i in itertools.count(0):  # Starts at 0, increments by 1 by default
    print(i)
    if i == 3: break

0
1
2
3

In [31]:
import itertools
cnt = 0
for i in itertools.cycle([1, 2, 3]):
    print(i)
    cnt +=1
    
    if cnt == 5: break

1
2
3
1
2

In [ ]:
while loop : 

initialization
while condition
body
operation

In [ ]:
i = 1

while i<6:

    print("i is", i)
    i = i + 1

In [ ]:
cnt = 0
while 1 or True:
    print("inf loop")
    if cnt == 2: break
    cnt+=1

In [ ]:



############## keywords ###############

In [ ]:
break : used to get the control out of loop
continue : to skip current iteration. 
pass : python does not allow empty blocks to be written, so we can write pass in blocks.

    if we write statement below pass, they will get executed.

In [32]:
if True:
    pass
    print("Done")

Done

In [ ]:
assert : assert is used for debugging.
Syntax 
    assert condition , "error statement"

statements below assertion Error will not be executed

In [34]:
assert 100>20 , "wrong"
print("Done")

Done

In [ ]:

ternary operator in python

syntax
[on_true] if [expression] else [on_false]

In [37]:
i=-1
print("positive") if(i>0) else print("negative")

negative

In [ ]:



############## Ternary ###############

In [38]:
# nested turnary
i=0
print("positive") if i > 0 else print("negative") if i < 0 else print("zero")

zero

In [ ]:



############## Extra functions ###############

In [ ]:
Enumerate function gives indexes to the elements of collection

In [39]:
Months = ["Jan","Feb","Mar","April","May","June"]
for i, m in enumerate (Months):
     print(i,m)

0 Jan
1 Feb
2 Mar
3 April
4 May
5 June

In [ ]:
zip() takes two or more iterables and combines the elements into a zip object of tuples 

-lengths of iterables must be same else error

In [40]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c = ['A','B','C','D','E']

d = zip(a,b,c)
print(d)

# len(d)   # zip does not have length
 
for i in d: print(i)

<zip object at 0x000001B953C8D980>
(1, 'a', 'A')
(2, 'b', 'B')
(3, 'c', 'C')
(4, 'd', 'D')
(5, 'e', 'E')

In [ ]:



############## loop with else ###############

In [44]:
for i in range(0,5):
    if i==2:
        break
    print(i)
else:    # will evaluate only if break doesn't encounter
    print("done")

0
1